<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <script src="../../static/script.js"></script>
  <title>SendIT - Parcels</title>
 </head>
<body>

	<div class=header>
		<p id="sendit">SendIT</p>
    	<nav>
			<a href="index.html">Home</a>
			<a href="index.html">Sign Out</a>
		</nav>	
	</div>
	
	<div class="flex-container-parcels">
		<h3 class="parcel-title">My parcel deliveries</h3>	
		<div class="parcel-details">
			<div>
				<table class="parcel-table">
					<tr>
						<th>Description</th>
						<th>Pickup location</th>
						<th>Destination</th>
						<th>Price</th>
						<th>Status</th>
						<th>Cancel</th>
					</tr>
					<tr>
						<td>Brown box</td>
						<td>Plot 1, 6th Street Industrial Area</td>
						<td contenteditable="true">Plot 2 Connor Street</td>
						<td>shs 4,000</td>
						<td>In Transit</td>
						<td><i class="fas fa-times"></i></td>
					</tr>
					<tr>
						<td>White A4 size envelope</td>
						<td>Plot 40 Ntinda Road</td>
						<td contenteditable="true">Office 103, 7th Floor,  Musana House</td>
						<td>shs 5,000</td>
						<td>New</td>
						<td><i class="fas fa-times"></i></td>						
					</tr>
					<tr>
						<td>Blue dry-cleaners plastic bag</td>
						<td>Fine Dry Cleaners, Plot 15, Jinja Road</td>
						<td contenteditable="true">Rays Hotel Kampala</td>
						<td>shs 3,000 </td>
						<td>New</td>
						<td><i class="fas fa-times"></i></td>
					</tr>
					<tr>
						<td>Grey suitcase</td>
						<td>Shop no.25, Kampala Arcade</td>
						<td contenteditable="true">Shop no.8, Mukwano Arcade</td>
						<td>shs 2,000</td>
						<td>In Transit</td>
						<td><i class="fas fa-times"></i></td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>
	  
</body>

</html>