<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <script src="../../static/script.js"></script>
  <title>SendIT - Profile</title>
 </head>
<body>

	<div class=header>
		<p id="sendit">SendIT</p>
		<nav>
			<a href="index.html">Home</a>
			<a href="sign_in.html">Sign Out</a>
		</nav>	
	</div>
	
	<h3 class="parcel-title">Profile</h3>

	<div class="flex-container-profile">
		<div class="profile-image" style="flex-grow: 2">
			<h3>Lydia Sanyu</h3>
			<h3>Kampala</h3>
		</div>
		<div class="profile-details" style="flex-grow: 8">
			<h3>Parcel delivery orders</h4>
			<h4><a href="create_parcel.html">Create parcel delivery order</a></h4>
			<h4><a href="parcels.html">All parcel delivery orders</a></h4>
			<br>
			<h3>Frequent locations</h3>
			<h5>Kampala Road</h5>
			<h5>Jinja Road</h5>
			<h5>Bukoto Street</h5>
			<br>
			<h3>Orders</h3>
			<h5>Delivered: 2</h5>
			<h5>In transit: 1</h5>
		</div>
		
	</div>
  
</body>

</html>