<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/style.css" type="text/css">
  <script src="../../static/script.js"></script>
  <title>SendIT - Sign Up</title>
 </head>
<body>

	<div class=header>
		<p id="sendit">SendIT</p>
		<nav>
			<a href="index.html">Home</a>
			<a href="sign_in.html">Sign In</a>
		</nav>	
	</div>
	
	<div class="form">
		<h1>Sign Up</h1>
		<form name="sign_up_form"> 
			<table class="form-table">
				<tr> 
					<td>Username</td> 
					<td class="colon">:</td> 
					<td> <input name="username" id="uname1" type="text" required> </td> 
				</tr>  
				<tr> 
					<td>Email</td> 
					<td class="colon">:</td> 
					<td> <input name="email" id="email1" type="text" required> </td> 
				</tr>  
				<tr> 
					<td>Phone number</td> 
					<td class="colon">:</td> 
					<td> <input name="email" id="phone1" type="text" required> </td> 
				</tr>  
				<tr> 
					<td>Password</td> 
					<td class="colon">:</td> 
					<td> <input name="password" id="password1" type="password" required> </td> 
				</tr>
			</table>
			
			<!-- <input name="submit_button" type="submit" value="Sign Up" class="submit-button" onclick="signUp()"> -->
			<button type="button" class="submit-button" onclick="signUp()">Sign Up</button>

			
		</form>
	</div>
  
</body>

</html>